
{{!-- page title --}}
<header class="top logo">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="title text-center display-4">Shelf Indulgence</h1>
  </div>
</div>
</header>


{{!-- navigation bar --}}
<div class="back">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav" href="./index.handlebars">Shelf Indulgence</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link nav" href="#login-page">Chat</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input id="searchTerms" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="bookSearch" class="btn btn-outline-success my-2 my-sm-0 nav" type="submit">Search</button>
    </form>
  </div>
</nav>

</div>

{{!-- search results --}}
<div id="searchRes" class="container">
  <div class="wrapper"></div>
</div>



{{!-- currently reading section --}}
<div class="container currentRead currentRead">
  <h1 class= "card-heading">Currently Reading</h1>
  <div class="card-deck">
    <div class="card current">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title book-title smTitle">Book Title</h5>
        <p class="card-text">book 1 details</p>
        <a href="#" class="btn btn-primary smTitle">BUY</a>
      </div>
    </div>
  <div class="card current">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title book-title smTitle">Book Title</h5>
        <p class="card-text">book 1 details</p>
        <a href="#" class="btn btn-primary smTitle">BUY</a>
      </div>
    </div>
    <div class="card current">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title book-title smTitle smTitle">Book Title</h5>
        <p class="card-text">book 1 details</p>
        <a href="#" class="btn btn-primary smTitle">BUY</a>
      </div>
    </div>
  </div>
</div>




{{!-- 3 collum section --}}

<div class="card-deck">
  <div class="card other ">
    <div class="card-body text-center comming">
      <h3 class="card-heading">Upcoming Reads</h3>
      <ul>
        {{#each bookTable}}
          {{#unless read_status}}
            <div class="card-header">
              {{this.book_title}}<button type="button" class="read-me btn btn-success" data-id="{{this.id}}">I read this</button>
              <button type="button" class="delete-book btn btn-danger" data-id="{{this.id}}">remove</button>
            </div>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="card other recommended">
    <div class="card-body text-center">
      <h3 class= "card-heading">Recommended For You</h3>
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>
  <div class="card other">
    <div class="card-body text-center pastBooks">
      <h3 class= "card-heading">Read It Again</h3>
      <ul>
        {{#each bookTable}}
          {{#if read_status}}
            <div class="card-header">
              {{this.book_title}}
              <button type="button" class="delete-book btn btn-danger" data-id="{{this.id}}">remove</button>
            </div>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>


{{!-- chat --}}
<footer class = "footer"> 
<div class="chat-page">
            <div id="message-container"></div>
            <form id="send-container">
                <input type="text" id="message-input" placeholder="Chat Text Here">
                <button type="submit" class="btn btn-success" id="send-button">Send</button>
            </form>
        </div>
    
    <div class="login-page window col-12" id="login-page">
        <div id="form">

            <h3 class="chat-title text-center">What's your name?</h3>
            <input class="username text-center" type="text" maxlength="14" />
            <input type="submit" class="btn btn-primary submitChat" value="submit"></input>
            
        </div>
    </div>
</footer>

</div>

